<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>name</key>
            <string>A1-南非</string>
            <key>image</key>
            <string>SouthAfrica</string>
        </dict>
		<dict>
            <key>name</key>
            <string>A2-墨西哥</string>
            <key>image</key>
            <string>Mexico</string>
        </dict>
		<dict>
            <key>name</key>
            <string>B1-阿根廷</string>
            <key>image</key>
            <string>Argentina</string>
        </dict>
		<dict>
            <key>name</key>
            <string>B2-尼日利亚</string>
            <key>image</key>
            <string>Nigeria</string>
        </dict>
		<dict>
            <key>name</key>
            <string>C1-英格兰</string>
            <key>image</key>
            <string>England</string>
        </dict>
        <dict>
            <key>name</key>
            <string>C2-美国</string>
            <key>image</key>
            <string>USA</string>
        </dict>
        <dict>
            <key>name</key>
            <string>D1-德国</string>
            <key>image</key>
            <string>Germany</string>
        </dict>
        <dict>
            <key>name</key>
            <string>D2-澳大利亚</string>
            <key>image</key>
            <string>Australia</string>
        </dict>
        <dict>
            <key>name</key>
            <string>E1-荷兰</string>
            <key>image</key>
            <string>Holland</string>
        </dict>
        <dict>
            <key>name</key>
            <string>E2-丹麦</string>
            <key>image</key>
            <string>Denmark</string>
        </dict>
        <dict>
            <key>name</key>
            <string>G1-巴西</string>
            <key>image</key>
            <string>Brazil</string>
        </dict>
        <dict>
            <key>name</key>
            <string>G2-朝鲜</string>
            <key>image</key>
            <string>NorthKorea</string>
        </dict>
        <dict>
            <key>name</key>
            <string>H1-西班牙</string>
            <key>image</key>
            <string>Spain</string>
        </dict>
        <dict>
            <key>name</key>
            <string>H2-瑞士</string>
            <key>image</key>
            <string>Switzerland</string>
        </dict>
	</array>
</plist>
