<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>吉林省</key>
        <array>
            <dict>
                <key>name</key>
                <string>长春</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/2172.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>吉林</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/2171.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>四平</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/25063.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>辽源</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/17718.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>通化</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/66475.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>白山</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/19855.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>松原</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/9258.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>白城	</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/7774.htm</string>
            </dict>
        </array>
        <key>黑龙江省</key>
        <array>
			<dict>
                <key>name</key>
                <string>哈尔滨</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/5567.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>齐齐哈尔</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/3961.htm</string>
            </dict>		<dict>
                <key>name</key>
                <string>鸡西</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/3816.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>鹤岗</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/52724.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>双鸭山</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/73965.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大庆</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/3183.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>伊春</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/15489.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>佳木斯</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/17769.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>七台河</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/35655.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>牡丹江</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/17733.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>黑河</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/66652.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>绥化</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/24581.htm</string>
            </dict>
        </array>
        <key>辽宁省</key>
        <array>
            <dict>
                <key>name</key>
                <string>沈阳</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/4450.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大连</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/4055.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>鞍山</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/2790.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>抚顺</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/2779.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>本溪</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/5387.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>丹东</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/4798.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>锦州</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/2772.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>营口</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/2843.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>阜新</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/5420.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>辽阳</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/4994.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>盘锦</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/16205.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>铁岭</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/5451.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>朝阳</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/4971.htm</string>
            </dict>
            <dict>
                <key>name</key>
                <string>葫芦岛</string>
                <key>url</key>
                <string>http://baike.baidu.com/view/3838.htm</string>
            </dict>
        </array>
    </dict>
</plist>
